<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AVEGIC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AVEGIC.styles.css" asp-append-version="true" />
    <style>
        .main-div {
            width: 100%;
            position:fixed;
            height: 100%;
            color: black;
            font-weight: bold;
            animation: mainanimation 40s infinite;
        }
        @@keyframes mainanimation {
            0% {
                background-color: red;
            }

            25% {
                background-color: yellow;
            }

            50% {
                background-color: green;
            }

            75% {
                background-color: brown;
            }

            100% {
                background-color: red;
            }
        }
    </style>
</head>
<body>
    <div class="main-div">
        <div class="">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
